# This workflow runs continuous CI across different versions of ruby on all branches and pull requests to develop.

name: CI
on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  tests:
    name: Ruby ${{ matrix.ruby }} ${{ matrix.gemfile }}
    if: "contains(github.event.commits[0].message, '[ci skip]') == false"
    runs-on: ubuntu-latest
    env:
      CI: true
      BUNDLE_GEMFILE: "${{ matrix.gemfile }}"
      ALLOW_FAILURES: ${{ endsWith(matrix.ruby, 'head') }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.6, 2.7, '3.0', 3.1, 3.2, ruby-head, jruby]
        gemfile:
          - Gemfile
          - Gemfile-pure
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3
      - name: Run tests
        run: ruby --version; bundle exec rspec spec || $ALLOW_FAILURES
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v1.1.2
        if: ${{ matrix.ruby == '3.0' && matrix.gemfile == 'Gemfile' }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
